@using LILI_CRM.Web.Areas.PCV.ViewModel
@model UserMenuSearch
           
<div class="frm-content">
        <div class="GroupBox search-content">
            <div id="jqSearch">
            </div>
            <div class="row">
                <div class="button-crude button-left">
                    @Ajax.ActionLink("Add New", "create", new AjaxOptions { OnComplete = "OnCompleteAddnew" })
                
                </div>            
            </div>
        </div>
        <div class="grid">
            <table id="jqGrid" cellpadding="0" cellspacing="0">
            </table>
            <div id="jqGridPager" style="text-align: center;">
            </div>
            @Html.Partial("_GridList")
        </div>
    </div>
<script type="text/javascript">
    function OnCompleteAddnew(content) {
        if (content.statusText == 'OK') {
            $('.search-content').hide();
            $('.frm-content').html(content.responseText);
        } else {
            $('#message').text('An error has occoured. Please try again.').css({ 'color': 'red' });
        }
    }
</script>