@{
    ViewBag.Title = "SBU";
    Layout = "~/Areas/PCV/Views/Shared/_Layout.cshtml";
}

<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li><i class="icon-home"></i>Setup <span class="divider"><i class="icon-angle-right"></i></span></li>
        <li class="active"><a href="#">SBU</a></li>
    </ul>
    <!--.breadcrumb-->
</div>

<div id="page-content" class="clearfix">
    <!--/#page-content-->
    <div class="row-fluid">
        <div id="indexPageSBU">
            <div id="SBUMessageZone">
                <div id="message" class="alert alert-success" style="display: none;"></div>
            </div>
            <div id="SBUAddButtonZone" class="row-fluid">
                @*if ((new AIMS_UNDP.Web.Utility.AppConstant()).IsAddAssigned)
                {*@
                    <a class="btn btn-mini btn-primary" id="lnkAddSBU" href='@Url.Content("~/PCV/SBU/Create")'>
                        <i class="icon-plus"></i>Add
                    </a>
                @*}*@
            </div>
            <br />
            <div id="SBUGridZone" class="row-fluid">
                <div id="SBUKendoGrid"></div>
            </div>
            <div id="SBUPopUpZone">
                <div id="addSBUDialog" title="Add SBU"></div>
                <div id="editSBUDialog" title="Edit SBU"></div>
                <div id="deleteSBUDialog" title="Delete SBU"></div>
                <div id="detailsSBUDialog" title="View SBU"></div>
            </div>
        </div>
        <script src="@Url.Content("~/Scripts/App/SBU.js")" type="text/javascript"></script>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $(".ui-selectee").removeClass("active");
        $(".ui-selectee").removeClass("open");

        $(".mnuSBU").addClass("active");
        $(".mnuSBU").parent().parent().addClass("active").addClass("open");
        $(".mnuSBU").parent().parent().addClass("open");
    });
</script>