@model LILI_CRM.Web.Areas.PCV.ViewModel.DivisionModel
@using (Ajax.BeginForm("Delete", "Division", null,
        new AjaxOptions
        {
            UpdateTargetId = "updateTargetId",
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            OnSuccess = "DeleteDivisionSuccess",
        }, new { @id = "deleteDivisionForm" }))
{  
    
    <div class="row-fluid">
        <div class="content">
            @Html.ValidationSummary(true)
            <div id="updateTargetId" class="alert alert-error" style="display: none;">
            </div>
        </div>
        <div class="content">
            <div class="alert alert-block">
                @Html.HiddenFor(model => model.Id)
                Do you want delete this record?
            </div>
        </div>
        <div class="content pull-right">
            <button type="submit" class="btn btn-mini btn-primary" id="btnDeleteDivision" name="btnDeleteDivision">
                <i class="icon-danger bigger-125"></i>Yes</button>
            &nbsp;&nbsp;
            <button type="button" class="btn btn-mini btn-primary" id="btnCancelDivision" name="btnCancelDivision"
                value="Cancel" onclick=" $($('#deleteDivisionDialog').dialog('close'));">
                <i class="icon-remove bigger-125"></i>Cancel</button>
        </div>
    </div>
}
