@{
    ViewBag.Title = "Division";
    Layout = "~/Areas/PCV/Views/Shared/_Layout.cshtml";
}

<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li><i class="icon-home"></i>Setup <span class="divider"><i class="icon-angle-right"></i></span></li>
        <li class="active"><a href="#">Division</a></li>
    </ul>
    <!--.breadcrumb-->
</div>

<div id="page-content" class="clearfix">
    <!--/#page-content-->
    <div class="row-fluid">
        <div id="indexPageCustomer">
            <div id="CustomerMessageZone">
                <div id="message" class="alert alert-success" style="display: none;"></div>
            </div>
            <div id="CustomerAddButtonZone" class="row-fluid">
                @*if ((new AIMS_UNDP.Web.Utility.AppConstant()).IsAddAssigned)
                {*@
                    <a class="btn btn-mini btn-primary" id="lnkAddDivision" href='@Url.Content("~/PCV/Division/Create")'>
                        <i class="icon-plus"></i>Add
                    </a>
                @*}*@
            </div>
            <br />
            <div id="DivisionZone" class="row-fluid">
                <div id="DivisionKendoGrid"></div>
            </div>
            <div id="DivisionPopUpZone">
                <div id="addDivisionDialog" title="Add Division"></div>
                <div id="editDivisionDialog" title="Edit Division"></div>
                <div id="deleteDivisionDialog" title="Delete Division"></div>
                <div id="detailsDivisionDialog" title="View Division"></div>
            </div>
        </div>
        <script src="@Url.Content("~/Scripts/App/Division.js")" type="text/javascript"></script>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $(".ui-selectee").removeClass("active");
        $(".ui-selectee").removeClass("open");

        $(".mnuCustomer").addClass("active");
        $(".mnuCustomer").parent().parent().addClass("active").addClass("open");
        $(".mnuCustomer").parent().parent().addClass("open");
    });
</script>