@model IList<SelectListItem>
<select id="EmpId" name="EmpId"> 
    <option selected="selected" value=''>[Select One]</option>
    @foreach (var value in Model) {
        <option value='@value.Value'>@value.Text</option>
    }
</select>
