@{
    ViewBag.Title = "Price Request";
    Layout = "~/Areas/PCV/Views/Shared/_Layout.cshtml";
}

<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li><i class="icon-home"></i>Setup <span class="divider"><i class="icon-angle-right"></i></span></li>
        <li class="active"><a href="#">Price Request to Supplier</a></li>
    </ul>
    <!--.breadcrumb-->
</div>

<div id="page-content" class="clearfix">
    <!--/#page-content-->
    <div class="row-fluid">
        <div id="indexPagePriceRequest">
            <div id="PriceRequestMessageZone">
                <div id="message" class="alert alert-success" style="display: none;"></div>
            </div>
            <div id="PriceRequestAddButtonZone" class="row-fluid">
			@*if ((new AIMS_UNDP.Web.Utility.AppConstant()).IsAddAssigned)
                {*@
                    <a class="btn btn-mini btn-primary" id="lnkAddPriceRequest" href='@Url.Content("~/PCV/PriceRequest/Create")'>
                        <i class="icon-plus"></i>Add
                    </a>
                @*}*@           
            </div>
            <br />
            <div id="PriceRequestZone" class="row-fluid">
                <div id="PriceRequestKendoGrid"></div>
            </div>
            <div id="PriceRequestPopUpZone">
                <div id="addPriceRequestDialog" title="Add Price Request"></div>
                <div id="editPriceRequestDialog" title="Edit Price Request"></div>
                <div id="deletePriceRequestDialog" title="Delete Price Request"></div>
                <div id="detailsPriceRequestDialog" title="View Price Request"></div>
            </div>
        </div>
        <script src="@Url.Content("~/Scripts/App/PriceRequest.js")" type="text/javascript"></script>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $(".ui-selectee").removeClass("active");
        $(".ui-selectee").removeClass("open");

        $(".mnuCustomer").addClass("active");
        $(".mnuCustomer").parent().parent().addClass("active").addClass("open");
        $(".mnuCustomer").parent().parent().addClass("open");
    });
</script>