<div class="button-crude">
@*@if ((new LILI_CRM.Web.Utility.AppConstant()).IsAddAssigned)
{
                <input type="submit" value="Save" id="btnSave" name="btnSubmit" style="margin-right: 8px;" />
                <input type="submit" value="Update" id="btnUpdate" name="btnSubmit" />
                <input type="submit" value="Delete" id="btnDelete" name="btnSubmit" />
                <input type="button" value="Clear" id="btnClear" name="btnSubmit" />
}*@
 </div>
 <div class="clear"></div>