@model LILI_CRM.Web.ViewModels.ErrorViewModel
<div class="row-fluid" style="background-color: #A0A0A0; width: 100%; height: 100%;">
    <hr/>
    <div class="alert alert-error" style="color: red; font-size: 20pt; ">
        @Model.ErrorMessage
    </div>
    <hr/>
</div>
